*{
    box-sizing:border-box;
        font:veranda;
}
.row{
    height:100vh;
    display:grid;
    margin-right:20px ;
    grid-template-columns:repeat(3,1fr);
    grid-column-gap:20px;
    justify-content:center;
    align-items:center;
    justify-items:center;


}
.columnA,.columnB,.columnC{
    background-color:gray;
    border:5px solid;
    padding:20px;

}

h3{
    margin:0px;
    text-align:right;
	background-color:#FFA07A
}
			
@media(min-width:992){
	.columnA..columnB,.columnC{
	width:50%;}
}
@media(min-width:768){
	.columnA,.columnB,.columnC{
		width:100%;
	}
	





